<% show_post ||= false %>

<div class='well'>
  <em><%= comment.body %></em>
  <% if show_post == true %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  <span class='quiet'>by</span>
    <%= link_to comment.author.username, user_path(comment.author) %> at <small><%= display_datetime(comment.created_at) %></small>
</div>

