<div class='pull-right'>
  <p>[<%= link_to "Edit Post", edit_post_path %>]</p>
</div>

<%= render @post.categories %>

<p class='lead'>
  <%= @post.title %>
  <hr/>
</p>

<p><%= @post.description %></p>

